<h2 id="title">Interest Bucket</h2>
{{link-to "Books" 'books'}}
{{outlet}}
{{#if session.isAuthenticated}}
    Welcome logged in user!
    If you like to logout click {{#link-to 'logout'}}here{{/link-to}}
{{else}}
    Click here to {{#link-to 'login'}}login!{{/link-to}}
{{/if}}